.u-section-1 .u-sheet-1 {min-height: 745px}
.u-section-1 .u-text-1 {width: 680px; margin: 111px auto 0}
.u-section-1 .u-text-2 {width: 656px; margin: 20px auto 0}
.u-section-1 .u-btn-1 {margin: 30px auto 0}
.u-section-1 .u-icon-1 {height: 318px; width: 424px; margin: 0 auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-text-2 {width: 415px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 423px}
.u-section-1 .u-text-1 {width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 655px}
.u-section-1 .u-text-1 {margin-left: 15px; margin-right: 15px; width: 340px}
.u-section-1 .u-text-2 {margin-left: 15px; margin-right: 15px; width: 340px}
.u-section-1 .u-icon-1 {height: 255px; width: 340px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 662px}
.u-section-2 .u-text-1 {width: 803px; background-image: none; font-weight: 700; margin: 62px auto 0}
.u-section-2 .u-text-2 {font-size: 1.125rem; font-weight: 300; width: 803px; margin: 28px auto 60px} 

@media (max-width: 991px){ .u-section-2 .u-text-1 {width: 720px}
.u-section-2 .u-text-2 {width: 720px} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {width: 540px}
.u-section-2 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {width: 340px}
.u-section-2 .u-text-2 {width: 340px} }