.u-section-1 .u-sheet-1 {
  min-height: 626px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 486px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/52e5d74a4d53ab14f6da8c7dda793678153bdee757596c48732e7bd0914bc35eba_1280.jpg");
  background-position: 50% 50%;
  margin: 68px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 37px;
  width: 37px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 401px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  width: 455px;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  min-height: 488px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-gap: 10px 10px;
  margin: 74px auto 0 0;
}

.u-section-2 .u-list-item-1 {
  height: 239px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-group-1 {
  width: 256px;
  min-height: 105px;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 45px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 10px -9px 0 0;
}

.u-section-2 .u-list-item-2 {
  height: 239px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-group-2 {
  width: 256px;
  min-height: 105px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0 45px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 10px -9px 0 0;
}

.u-section-2 .u-list-item-3 {
  height: 239px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-group-3 {
  width: 256px;
  min-height: 105px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 45px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 10px -9px 0 0;
}

.u-section-2 .u-list-item-4 {
  height: 239px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-group-4 {
  width: 256px;
  min-height: 105px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 0 45px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 10px -9px 0 0;
}

.u-section-2 .u-list-item-5 {
  height: 239px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-5 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-group-5 {
  width: 256px;
  min-height: 105px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 0 45px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 10px -9px 0 0;
}

.u-section-2 .u-list-item-6 {
  height: 239px;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-6 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-group-6 {
  width: 256px;
  min-height: 105px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 20px 20px 30px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 0 45px 0 0;
}

.u-section-2 .u-text-13 {
  margin: 10px -9px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 300;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-14 {
  font-size: 1.25rem;
  width: 450px;
  margin: 56px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 201px;
    min-height: 119px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-bottom: 11px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 201px;
    min-height: 119px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-bottom: 11px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 201px;
    min-height: 119px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
    padding-bottom: 11px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 10px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-4 {
    width: 201px;
    min-height: 119px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 10px;
    padding-bottom: 11px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 10px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-5 {
    width: 201px;
    min-height: 119px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-right: 10px;
    padding-bottom: 11px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 10px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-6 {
    width: 201px;
    min-height: 119px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-right: 10px;
    padding-bottom: 11px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -33px;
    margin-right: 397px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 60px;
    margin-right: 275px;
    margin-left: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1273px;
  }

  .u-section-2 .u-list-1 {
    min-height: 702px;
    grid-template-columns: calc(((100% - 720px) / 2) + 355px) calc(((100% - 720px) / 2) + 355px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-2 .u-group-2 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-2 .u-group-3 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-2 .u-group-4 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-2 .u-group-5 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-2 .u-group-6 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 72px;
    margin-right: auto;
  }

  .u-section-2 .u-text-14 {
    width: 366px;
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2000px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1434px;
    grid-template-columns: 100%;
    grid-gap: 0 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 7px;
    margin-left: 5px;
  }

  .u-section-2 .u-group-1 {
    width: 443px;
    min-height: 104px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 7px;
    margin-left: 5px;
  }

  .u-section-2 .u-group-2 {
    width: 443px;
    min-height: 104px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 7px;
    margin-left: 5px;
  }

  .u-section-2 .u-group-3 {
    width: 443px;
    min-height: 104px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 7px;
    margin-left: 5px;
  }

  .u-section-2 .u-group-4 {
    width: 443px;
    min-height: 104px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 7px;
    margin-left: 5px;
  }

  .u-section-2 .u-group-5 {
    width: 443px;
    min-height: 104px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 7px;
    margin-left: 5px;
  }

  .u-section-2 .u-group-6 {
    width: 443px;
    min-height: 104px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 12px;
    padding: 10px 31px 10px 30px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-1 {
    width: 235px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-2 {
    width: 235px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-3 {
    width: 235px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-4 {
    width: 235px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-5 {
    width: 235px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-6 {
    width: 235px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -47px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }
}