.u-section-1 .u-sheet-1 {min-height: 665px}
.u-section-1 .u-layout-wrap-1 {margin: 70px auto 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 496px; pointer-events: auto}
.u-section-1 .u-container-layout-1 {padding: 30px 60px}
.u-section-1 .u-image-1 {width: 180px; height: 180px; background-image: url("images/57e8d64b4c57a414f6da8c7dda793678153bdee757596c48732f79d2904bc55ab0_1280.jpg"); background-position: 50% 50%; margin: 68px auto 0}
.u-section-1 .u-text-1 {margin: 30px 0 0}
.u-section-1 .u-text-2 {margin: 20px 0 0}
.u-section-1 .u-icon-1 {height: 37px; width: 37px; margin: 25px auto 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 100px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 409px} }

@media (max-width: 991px){ .u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }.u-section-2 .u-sheet-1 {min-height: 737px}
.u-section-2 .u-text-1 {width: 455px; font-size: 1.25rem; margin: 60px auto 0}
.u-section-2 .u-list-1 {min-height: 488px; grid-template-columns: repeat(3, calc(33.3333% - 7px)); grid-gap: 10px; margin: 45px 0 60px}
.u-section-2 .u-container-layout-1 {padding: 30px 20px}
.u-section-2 .u-icon-1 {height: 65px; width: 65px; background-image: none; margin: 0 auto 0 0}
.u-section-2 .u-group-1 {width: 256px; min-height: 179px; margin: -65px 0 0 auto}
.u-section-2 .u-container-layout-2 {padding: 0 20px 20px 30px}
.u-section-2 .u-text-2 {margin-top: 0; margin-bottom: 0; font-weight: 700}
.u-section-2 .u-text-3 {margin: 20px 0 0}
.u-section-2 .u-container-layout-3 {padding: 30px 20px}
.u-section-2 .u-icon-2 {height: 65px; width: 65px; background-image: none; margin: 0 auto 0 0}
.u-section-2 .u-group-2 {width: 256px; min-height: 179px; background-size: auto; margin: -65px 0 0 auto}
.u-section-2 .u-container-layout-4 {padding: 0 20px 20px 30px}
.u-section-2 .u-text-4 {margin-top: 0; margin-bottom: 0; font-weight: 700}
.u-section-2 .u-text-5 {margin: 20px 0 0}
.u-section-2 .u-container-layout-5 {padding: 30px 20px}
.u-section-2 .u-icon-3 {height: 65px; width: 65px; background-image: none; margin: 0 auto 0 0}
.u-section-2 .u-group-3 {width: 256px; min-height: 179px; background-size: auto; margin: -65px 0 0 auto}
.u-section-2 .u-container-layout-6 {padding: 0 20px 20px 30px}
.u-section-2 .u-text-6 {margin-top: 0; margin-bottom: 0; font-weight: 700}
.u-section-2 .u-text-7 {margin: 20px 0 0}
.u-section-2 .u-container-layout-7 {padding: 30px 20px}
.u-section-2 .u-icon-4 {height: 65px; width: 65px; background-image: none; margin: 0 auto 0 0}
.u-section-2 .u-group-4 {width: 256px; min-height: 179px; background-size: auto; margin: -65px 0 0 auto}
.u-section-2 .u-container-layout-8 {padding: 0 20px 20px 30px}
.u-section-2 .u-text-8 {margin-top: 0; margin-bottom: 0; font-weight: 700}
.u-section-2 .u-text-9 {margin: 20px 0 0}
.u-section-2 .u-container-layout-9 {padding: 30px 20px}
.u-section-2 .u-icon-5 {height: 65px; width: 65px; background-image: none; margin: 0 auto 0 0}
.u-section-2 .u-group-5 {width: 256px; min-height: 179px; background-size: auto; margin: -65px 0 0 auto}
.u-section-2 .u-container-layout-10 {padding: 0 20px 20px 30px}
.u-section-2 .u-text-10 {margin-top: 0; margin-bottom: 0; font-weight: 700}
.u-section-2 .u-text-11 {margin: 20px 0 0}
.u-section-2 .u-container-layout-11 {padding: 30px 20px}
.u-section-2 .u-icon-6 {height: 65px; width: 65px; background-image: none; margin: 0 auto 0 0}
.u-section-2 .u-group-6 {width: 256px; min-height: 179px; background-size: auto; margin: -65px 0 0 auto}
.u-section-2 .u-container-layout-12 {padding: 0 20px 20px 30px}
.u-section-2 .u-text-12 {margin-top: 0; margin-bottom: 0; font-weight: 700}
.u-section-2 .u-text-13 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 651px}
.u-section-2 .u-list-1 {min-height: 402px; height: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-group-1 {width: 201px; min-height: 203px}
.u-section-2 .u-container-layout-2 {padding-left: 20px}
.u-section-2 .u-group-2 {width: 201px; min-height: 203px}
.u-section-2 .u-container-layout-4 {padding-left: 20px}
.u-section-2 .u-group-3 {width: 201px; min-height: 203px}
.u-section-2 .u-container-layout-6 {padding-left: 20px}
.u-section-2 .u-group-4 {width: 201px; min-height: 203px}
.u-section-2 .u-container-layout-8 {padding-left: 20px}
.u-section-2 .u-group-5 {width: 201px; min-height: 203px}
.u-section-2 .u-container-layout-10 {padding-left: 20px}
.u-section-2 .u-group-6 {width: 201px; min-height: 203px}
.u-section-2 .u-container-layout-12 {padding-left: 20px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 951px}
.u-section-2 .u-list-1 {min-height: 702px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2) + 355px)); margin-right: initial; margin-left: initial}
.u-section-2 .u-group-1 {width: 243px; min-height: 166px}
.u-section-2 .u-group-2 {width: 243px; min-height: 166px}
.u-section-2 .u-group-3 {width: 243px; min-height: 166px}
.u-section-2 .u-group-4 {width: 243px; min-height: 166px}
.u-section-2 .u-group-5 {width: 243px; min-height: 166px}
.u-section-2 .u-group-6 {width: 243px; min-height: 166px} }

@media (max-width: 767px){ .u-section-2 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-1 {width: 443px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-2 {width: 443px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-3 {width: 443px}
.u-section-2 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-4 {width: 443px}
.u-section-2 .u-container-layout-8 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-9 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-5 {width: 443px}
.u-section-2 .u-container-layout-10 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-11 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-6 {width: 443px}
.u-section-2 .u-container-layout-12 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {width: 340px}
.u-section-2 .u-group-1 {width: 235px}
.u-section-2 .u-group-2 {width: 235px}
.u-section-2 .u-group-3 {width: 235px}
.u-section-2 .u-group-4 {width: 235px}
.u-section-2 .u-group-5 {width: 235px}
.u-section-2 .u-group-6 {width: 235px} }