.u-section-1 .u-sheet-1 {min-height: 707px}
.u-section-1 .u-layout-wrap-1 {pointer-events: auto; margin: 60px auto 60px 0}
.u-section-1 .u-image-1 {min-height: 569px; pointer-events: auto; background-image: url("images/partyforcharlie.png")}
.u-section-1 .u-container-layout-1 {padding: 30px 60px}
.u-section-1 .u-layout-cell-2 {min-height: 569px; pointer-events: auto}
.u-section-1 .u-container-layout-2 {padding: 30px 35px 19px 40px}
.u-section-1 .u-text-1 {margin: 27px 0 0}
.u-section-1 .u-text-2 {margin: 19px 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 481px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {min-height: 469px; background-position: 50% 50%}
.u-section-1 .u-layout-cell-2 {min-height: 648px}
.u-section-1 .u-text-1 {width: auto; margin-right: 3px; margin-left: -2px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 367px}
.u-section-1 .u-image-1 {min-height: 359px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-text-1 {margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 653px}
.u-section-1 .u-image-1 {min-height: 539px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 446px}
.u-section-1 .u-image-1 {min-height: 339px} }.u-section-2 .u-sheet-1 {min-height: 1072px}
.u-section-2 .u-text-1 {font-style: italic; font-size: 3.75rem; margin: 53px 0 0}
.u-section-2 .u-layout-wrap-1 {margin: 67px 0 60px}
.u-section-2 .u-image-1 {min-height: 500px; background-image: url("images/Picture2-1.png"); background-position: 50% 50%}
.u-section-2 .u-container-layout-1 {padding: 30px 60px}
.u-section-2 .u-layout-cell-2 {min-height: 250px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-image-2 {min-height: 250px; background-image: url("images/Picture4-1.png")}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-image-3 {min-height: 250px; background-image: url("images/Picture10-1.png"); background-position: 50% 50%}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-layout-cell-5 {min-height: 250px}
.u-section-2 .u-container-layout-5 {padding: 30px}
.u-section-2 .u-image-4 {min-height: 500px; background-image: url("images/Charlie_blumen_miteltern-1.png")}
.u-section-2 .u-container-layout-6 {padding: 30px 60px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 840px}
.u-section-2 .u-text-1 {margin-top: 77px; margin-right: 97px}
.u-section-2 .u-layout-wrap-1 {margin-top: 43px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {min-height: 412px}
.u-section-2 .u-layout-cell-2 {min-height: 206px}
.u-section-2 .u-image-2 {min-height: 206px; background-position: 50% 50%}
.u-section-2 .u-image-3 {min-height: 206px}
.u-section-2 .u-layout-cell-5 {min-height: 206px}
.u-section-2 .u-image-4 {min-height: 412px; background-position: 50% 50%} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 2026px}
.u-section-2 .u-text-1 {width: auto; margin-top: 61px; margin-right: 74px}
.u-section-2 .u-layout-wrap-1 {margin-top: 29px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {min-height: 631px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 316px}
.u-section-2 .u-image-2 {min-height: 316px}
.u-section-2 .u-image-3 {min-height: 316px}
.u-section-2 .u-layout-cell-5 {min-height: 316px}
.u-section-2 .u-image-4 {min-height: 631px}
.u-section-2 .u-container-layout-6 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 100px}
.u-section-2 .u-text-1 {margin-right: 0; margin-left: 56px}
.u-section-2 .u-image-1 {min-height: 473px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-2 {min-height: 474px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-2 {min-height: 474px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-3 {min-height: 474px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-5 {min-height: 474px}
.u-section-2 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-4 {min-height: 473px}
.u-section-2 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1262px}
.u-section-2 .u-text-1 {font-size: 1.875rem; margin-top: 35px; margin-right: 35px; margin-left: 0}
.u-section-2 .u-image-1 {min-height: 298px}
.u-section-2 .u-layout-cell-2 {min-height: 298px}
.u-section-2 .u-image-2 {min-height: 298px}
.u-section-2 .u-image-3 {min-height: 298px}
.u-section-2 .u-layout-cell-5 {min-height: 298px}
.u-section-2 .u-image-4 {min-height: 298px} }.u-section-3 .u-sheet-1 {min-height: 1072px}
.u-section-3 .u-text-1 {font-style: italic; font-size: 3.75rem; margin: 53px 0 0}
.u-section-3 .u-layout-wrap-1 {margin: 67px 0 60px}
.u-section-3 .u-image-1 {min-height: 500px; background-image: url("images/wohnzimmer_heulend-1.png"); background-position: 50% 50%}
.u-section-3 .u-container-layout-1 {padding: 30px 60px}
.u-section-3 .u-layout-cell-2 {min-height: 250px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-image-2 {min-height: 250px; background-image: url("images/Picture12-1.png"); background-position: 50% 50%}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-image-3 {min-height: 250px; background-image: url("images/Picture5-1.png"); background-position: 50% 50%}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-layout-cell-5 {min-height: 250px}
.u-section-3 .u-container-layout-5 {padding: 30px}
.u-section-3 .u-image-4 {min-height: 500px; background-image: url("images/Picture8-1.png"); background-position: 50% 50%}
.u-section-3 .u-container-layout-6 {padding: 30px 60px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 864px}
.u-section-3 .u-text-1 {width: auto; margin-top: 60px; margin-left: 97px}
.u-section-3 .u-layout-wrap-1 {margin-top: 60px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {min-height: 412px}
.u-section-3 .u-layout-cell-2 {min-height: 206px}
.u-section-3 .u-image-2 {min-height: 206px}
.u-section-3 .u-image-3 {min-height: 206px}
.u-section-3 .u-layout-cell-5 {min-height: 206px}
.u-section-3 .u-image-4 {min-height: 412px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 2188px}
.u-section-3 .u-text-1 {margin-top: 77px; margin-left: 74px}
.u-section-3 .u-layout-wrap-1 {margin-top: 43px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {min-height: 631px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-layout-cell-2 {min-height: 316px}
.u-section-3 .u-image-2 {min-height: 316px}
.u-section-3 .u-image-3 {min-height: 316px}
.u-section-3 .u-layout-cell-5 {min-height: 316px}
.u-section-3 .u-image-4 {min-height: 631px}
.u-section-3 .u-container-layout-6 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 100px}
.u-section-3 .u-text-1 {margin-left: 56px}
.u-section-3 .u-image-1 {min-height: 473px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-cell-2 {min-height: 474px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-2 {min-height: 474px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-3 {min-height: 474px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-cell-5 {min-height: 474px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-4 {min-height: 473px}
.u-section-3 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1357px}
.u-section-3 .u-text-1 {font-size: 1.875rem; margin-top: 21px; margin-left: 35px; width: auto}
.u-section-3 .u-image-1 {min-height: 298px}
.u-section-3 .u-layout-cell-2 {min-height: 298px}
.u-section-3 .u-image-2 {min-height: 298px}
.u-section-3 .u-image-3 {min-height: 298px}
.u-section-3 .u-layout-cell-5 {min-height: 298px}
.u-section-3 .u-image-4 {min-height: 298px} }.u-section-4 .u-sheet-1 {min-height: 294px}
.u-section-4 .u-text-1 {width: 680px; margin: 60px auto 0}
.u-section-4 .u-text-2 {width: 680px; margin: 20px auto 0}
.u-section-4 .u-btn-1 {border-style: solid; text-transform: uppercase; font-weight: 700; margin: 30px auto 60px} 

@media (max-width: 767px){ .u-section-4 .u-text-1 {width: 540px}
.u-section-4 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-4 .u-text-1 {width: 340px}
.u-section-4 .u-text-2 {width: 340px} }